body{
    
  background-image: url('../images/demo.png'); /* 画像のパスを指定 */
  background-size: cover; /* 画像をウィンドウ全体にカバーさせる */
  background-position: top; /* 画像の位置を中央に設定 */

  height: 100vh;
}
.top{
  background-color: rgba(255, 0, 0, 0);
  height: 15vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video{
  margin: 20px;
}
img{
  width: 400px;
  height: 370px;
}
.left{
  margin: 20px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  text-align: center;
  font-size: 30px;
}
.balloon2 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
}

.balloon2:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #FFF;
  z-index: 2;
}

.balloon2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #555;
  z-index: 1;
}

.balloon2 p {
  margin: 0;
  padding: 0;
}
.mokemoke{
  width: 400px;
  height: 300px;
}

.bottom{
  background-color: rgba(255, 0, 0, 0);
  height: 15vh;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration:none;/*リンクのアンダーラインを非表示*/
  color:#000;/*リンク色を黒に変更*/
}
.btn{
  width:150px;
  text-align:center;
  padding:15px 20px;
  margin:auto;
  filter: drop-shadow(0px 0px 7px rgba(166,166,166,0.6));
  color:#fff;
  display:inline-block;
  background-color:#31dab0;
}

/*立体ボタン（ボーダー）*/
.btn__3d-border{
  border-bottom:5px solid #28987c;
  border-radius:5px;
  -webkit-transition: all 0.5s;/*0.5秒かけてゆっくり変化（ベンタープレックス）*/
  transition: all 0.5s;/*0.5秒かけてゆっくり変化*/
}
.btn__3d-border:hover{ /*マウスオーバー時*/
  transform: translate(0,3px);/*上から3pxズラす*/
  border-bottom:2px solid #28987c;/*ボーダーの高さを小さく*/
}