body{
    
  background-image: url('../images/end.jpg'); /* 画像のパスを指定 */
  background-size: cover; /* 画像をウィンドウ全体にカバーさせる */
  background-position: top; /* 画像の位置を中央に設定 */
  /* 他の背景プロパティを設定することもできます */
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration:none;/*リンクのアンダーラインを非表示*/
  color:#000;/*リンク色を黒に変更*/
}
.btn{
  width:150px;
  text-align:center;
  padding:15px 20px;
  margin:auto;
  filter: drop-shadow(0px 0px 7px rgba(166,166,166,0.6));
  color:#fff;
  display:inline-block;
  background-color:#31dab0;
}

/*立体ボタン（ボーダー）*/
.btn__3d-border{
  border-bottom:5px solid #28987c;
  border-radius:5px;
  -webkit-transition: all 0.5s;/*0.5秒かけてゆっくり変化（ベンタープレックス）*/
  transition: all 0.5s;/*0.5秒かけてゆっくり変化*/
}
.btn__3d-border:hover{ /*マウスオーバー時*/
  transform: translate(0,3px);/*上から3pxズラす*/
  border-bottom:2px solid #28987c;/*ボーダーの高さを小さく*/
}