body{
    
  background-image: url('../images/end.jpg'); /* 画像のパスを指定 */
  background-size: cover; /* 画像をウィンドウ全体にカバーさせる */
  background-position: top; /* 画像の位置を中央に設定 */
  height: 100vh;
}
.top{
  height: 15vh; 
}
.main{
  height: 70vh; 
}
.bottom{
  height: 15vh;
}
.button {
  text-align: right;
  margin-right: 70px;
  height: 15vh; 
}
a{
  text-decoration:none;/*リンクのアンダーラインを非表示*/
  color:#000;/*リンク色を黒に変更*/
}
.btn{
  width:150px;
  text-align:center;
  padding:15px 20px;
  margin:auto;
  filter: drop-shadow(0px 0px 7px rgba(166,166,166,0.6));
  color:#000; /* テキストの色を黒に変更 */
  display:inline-block;
  background-color:#ffeb3b; /* 背景色を黄色に変更 */
}

/* 立体ボタン（ボーダー） */
.btn__3d-border{
  border-bottom:5px solid #c8b900; /* ボーダー色を適切に変更 */
  border-radius:5px;
  -webkit-transition: all 0.5s; /* 0.5秒かけてゆっくり変化（ベンダープレフィックス） */
  transition: all 0.5s; /* 0.5秒かけてゆっくり変化 */
}

.btn__3d-border:hover{ /* マウスオーバー時 */
  transform: translate(0,3px); /* 上から3pxズラす */
  border-bottom:2px solid #c8b900; /* ボーダーの高さを小さく */
}


