body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-size:x-large;
}
.header {
  width: 1200px;
  margin:0 auto;

  text-align: left;
  background-color:grey;
}
.header h1{
  margin-bottom: 10px;
}
.header p{
  margin-top: 5px;
}
.main{
  display: flex;
  justify-content: center;
  
}

.balloon3-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 0 5px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #dd1a1a;
  font-size: 20px;
  font-weight: bold;
  background: #ffcc75;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon3-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #ffcc75;
  z-index: 0;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: lightblue;
  padding: 10px 20px; /* 余白を追加してボタンを大きくする */
  text-decoration: none; /* リンクの下線を消す */
  color: white; /* 文字色を白にする */
  font-size: 16px; /* 文字サイズを設定 */
}
