@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url('../images/main.png');
  background-size: cover; /* 画像をウィンドウ全体にカバーさせる */
  background-position: top; /* 画像の位置を中央に設定 */
}
.top{
  background-color: rgba(255, 0, 0, 0);
  height: 200px; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 20px;
}
.header{
  font-family: 'Caveat', cursive;
  font-size: 40px;
}
.main{
  background-color:rgba(255, 0, 0, 0);
  height: 450px; 
  display: flex;
  justify-content: center;
  
}
.mokemoke{
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width: 400px;
  height: 370px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
  font-family: 'Sacramento',cursive;
  font-size: 24px;
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center; /* 縦方向の中央揃え */
  width: 300px; /* div 要素の幅 */
  height: 250px; /* div 要素の高さ */
}

.balloon2-left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  width: 500px;
  height: 300px;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 7px #555;
  box-sizing: border-box;
}
.balloon2-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}
.balloon2-left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}
.balloon2-left p {
  margin: 0;
  padding: 0;
}

.bottom{
  background-color: rgba(255, 0, 0, 0);
  height: 130px; 
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: lightblue;
  padding: 10px 20px; /* 余白を追加してボタンを大きくする */
  text-decoration: none; /* リンクの下線を消す */
  color: white; /* 文字色を白にする */
  font-size: 20px; /* 文字サイズを設定 */
}
