body{
    
  background-image: url('../images/main.jpg'); /* 画像のパスを指定 */
  background-size: cover; /* 画像をウィンドウ全体にカバーさせる */
  background-position: top; /* 画像の位置を中央に設定 */
  height: 100vh;
}
.top{
  background-color: rgba(255, 0, 0, 0);
  height: 15vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom{
  height: 15vh;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: lightblue;
  padding: 10px 20px; /* 余白を追加してボタンを大きくする */
  text-decoration: none; /* リンクの下線を消す */
  color: white; /* 文字色を白にする */
  font-size: 16px; /* 文字サイズを設定 */
  }