<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demonstration</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/demo.css')}}">
</head>
<body>
    <div class="top">
        <h1>【取り付け】★★☆☆☆</h1>
    </div>

    <div class="main">
        <div class="video">
            <video width="700px" height="600px" src="{{url_for('static',filename='videos/demo.mp4')}}" alt="デモ動画" loop autoplay muted controls>
            </video>
        </div>

        <div class="left">
            <div class="box">
                <div class="balloon2">
                    <div class="text">
                        まずは<br>
                        お手本動画を<br>
                        見よう<br>
                    </div>
                </div>
            </div>

            <div class="mokemoke">
                <img src="{{url_for('static',filename='images/yubi_mokemoke.png')}}" class="mokemoke" >
            </div>
        </div>

    </div>

    <div class="bottom">
        <div class = "button">
            <a href="{{url_for('play')}}" class="btn btn__3d-border">次へ進む</a>
        </div>
    </div>
</body>
</html>