<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>intro</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/intro.css')}}">
</head>
<body>
    <div class="top"></div>

    <div class="main"></div>

    <div class="bottom">
        <div class = "button">
            <a href="{{url_for('demo')}}" class="btn btn__3d-border">次へ進む</a>
        </div>
    </div>
</body>
</html>