<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>play</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/play.css')}}">
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let video = document.getElementById('myVideo');
            let playButton = document.getElementById('playButton');

            playButton.addEventListener('click', function() {
                video.play();
                
                let startTime = new Date().toLocaleString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' });
                
                console.log('再生開始時刻:', startTime);

                video.addEventListener('ended', function(){
                    playButton.style.display='none';
                    nextButton.style.display='block';
                    console.log('終了');
                })
            });
        });
    </script>
</head>

<body>
    <div class="top">
        <h1>【取り付け】★★☆☆☆</h1>
    </div>

    <div class="main">
        <div class="video">
            <video id="myVideo" width="700" height="600">
                <source src="{{url_for('static',filename='videos/カウントダウン.mp4')}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="left">
            <div class="box">
                <div class="balloon2">
                    <div class="text">
                        実際にやってみよう！<br>
                        時間は10秒！<br>
                        カウントダウンを見てね<br>
                    </div>
                </div>
            </div>

            <div class="mokemoke">
                <img src="{{url_for('static',filename='images/smile_mokemoke.png')}}" alt="mokemoke" class="mokemoke" >
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class = "button">
            <a class="btn2 btn__3d-border2" id="playButton" style="display: block;">Start</a>

            <a href="{{url_for('result')}}" class="btn btn__3d-border" id="nextButton" style="display: none;">次へ進む</a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let video = document.getElementById('myVideo');
            let playButton = document.getElementById('playButton');

            playButton.addEventListener('click', function() {
                video.play();
                
                let startTime = new Date().toLocaleString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' });
                
                console.log('再生開始時刻:', startTime);

                video.addEventListener('ended', function(){
                    playButton.style.display='none';
                    nextButton.style.display='block';
                    console.log('終了');
                })
            });
        });
    </script>
</body>
</html>