<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dataframe Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            // 表の行ごとにクリックイベントを追加
            $('tr').click(function(){
                // クリックされた行のデータを取得
                var sensor_name = $(this).find('td:eq(0)').text();
                var rank = $(this).find('td:eq(1)').text();

                console.log(sensor_name)

                fetch('/find_table', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({sensor_name})
                })
                .then(response => response.json())
                .then(data => {
                    // データフレームを表示する場所の要素を取得
                    const sensorInfoElement = document.getElementById("sensor-info");

                    // 取得したデータをHTMLに挿入する
                    sensorInfoElement.innerHTML = "<h2>Sensor Information</h2>" +
                                            "<pre>" + JSON.stringify(data, null, 2) + "</pre>";
                })
                .catch(error => {
                    console.error('Error:', error);
                });
                

                // データを表示
                $('#sensor-info').html(data);
            });
        });

    </script>
</head>
<body>
    <h1>センサーデータ</h1>
    <!-- データフレームを表示 -->
    {{ sensor_rank | safe }}
    <!-- クリックしたセンサーの情報を表示する領域 -->
    <div id="sensor-info"></div>
</body>
</html>
