<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>score</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/score.css')}}">

    
</head>
<body>
    <h1>スコア表示</h1>

    <h1>Session Data</h1>
    <p>Graph URL: {{ graph_url }}</p>
    <p>Average Difference: {{ average_difference }}</p>
    <p>Rank: {{ rank }}</p>

    <div id="graph">
        <img src="{{url_for('static',filename='sample_graph.png')}}" alt="score_graph" >
    </div>

    <div class = "button">
        <a href="{{url_for('end')}}" class="btn btn__3d-border">次へ進む</a>
    </div>
    
</body>
</html>