<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CraftSync</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/title.css') }}">

</head>
<body>
    <div class="top">

    </div>
    <div class="mid">
        <h1>Craft Quest</h1>
    </div>
    <div class="bottom">
        <a href="{{url_for('main')}}" class="btn-text-3d">START</a>
    </div>

</body>
</html>
