body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.game-container {
    width: 600px; /* 画面の幅を調整 */
    height: 400px; /* 画面の高さを調整 */
    border: 2px solid #333;
    text-align: center;
    padding: 20px;
    background-image: url('images/page2.png'); /* 背景画像のパスを指定 */
    background-size: cover; /* 背景画像をコンテナー全体にフィット */
    background-position: center; /* 背景画像を中央に配置 */
    background-repeat: no-repeat; /* 背景画像を繰り返し表示しない */
    background-color: #fff;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
}


